asgiref==3.11.1
Django==6.0.3
django-redis==6.0.0
gunicorn==25.1.0
packaging==26.0
psycopg2-binary==2.9.11
redis==7.3.0
sqlparse==0.5.5
bandit==1.9.4
coverage==7.13.5
flake8==7.3.0
pytest==9.0.2
pytest-cov==7.1.0
pytest-django==4.12.0
